.about {
    display: flex;
    width: 100vw;

    background-color: black;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: white;
    padding-top: 10vh;
}

.about__bio--container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__bio {
    width: 60%;
    font-family: "Raleway";
    line-height: 150%;
    font-size: 1.3vw;
    font-weight: 100;
}

.headshot {
    border-radius: 5%;
    width: 25vw;
}

.about__h1 {
    margin: 5vh;
    font-family: "Raleway";
    font-size: 1.5vw;
    /* font-weight: 100; */

    color: white;
    text-shadow: 0 0 1em white, 0 0 0.5em white, 0 0 0.1em white, 0 10px 3px #000;
}

.skills {
    margin-top: 4vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills__container {
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.skills__h2 {
    font-family: "Raleway";
    font-size: 1vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.skills__picture {
    width: 10vw;
    height: 10vw;
}