.contact {
    display: flex;
    width: 100vw;
    height: 80vh;

    background-color: black;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: white;

    font-family: "Raleway";
    font-size: 1.5vw;
    line-height: 150%;
}

.contact__links {
    color: white;
    text-decoration: none;
}

.contact__links:hover {
    color: purple;
}

.contact__links--section {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.contact__links--section img {
    height: 4vw;
    opacity: .3;
}

.contact__links--section img:hover {
    opacity: 1;
}