.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.navbar__logo__container {
    width: 15vw;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navbar__logo b{
    font: 3vh "Signerica";
    color: white;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em white, 0 0 0.5em white, 0 0 0.1em white, 0 10px 3px #000;
}

.navbar__logo b:hover {
    color: #F148FB;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #F148FB, 0 0 0.5em #F148FB, 0 0 0.1em #F148FB, 0 10px 3px #000;
}

.navbar__links {
    width: 60vw;
    height: 100%;
    display: flex;
}

.navbar__links li {
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 20%;
    height: 100%;
    list-style-type: none;
}

.navbar__links a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}

.navbar__links li:hover a {
    /* background-color: white; */
    color: red;
}


.navbar__links li:hover a {
    color: red;
}