.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: black;
}

.footer--left {
    width: 85%;
    height: 100%;
}

.footer--right {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 3vw;

    opacity: 0;

    animation: opacityFade normal linear 1s forwards;
    animation-delay: 2s;
}

.footer img {
    height: 2.5vh;
    opacity: 0.3;
}

.footer img:hover {
    opacity: 1;
}