@font-face {
  font-family: 'SignericaFat';
  src: local('Signerica'), url(./fonts/Signerica_Fat.ttf) format('truetype');
}

@font-face {
  font-family: 'SignericaMed';
  src: local('Signerica'), url(./fonts/Signerica_Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'SignericaThin';
  src: local('Signerica'), url(./fonts/Signerica_Thin.ttf) format('truetype');
}

::-webkit-scrollbar {
  display: none;
}

.App {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: none;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@-webkit-keyframes blink{
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes turnOn {
  0% {
    color: #000000;
    text-shadow: none;
  }
  100% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
